* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  /*给移动端设置点击高亮*/
  -webkit-tap-highlight-color: transparent;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
